@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

#root {
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/* Carousel */
.carousel-indicators [data-bs-target] {
    width: 0.75rem !important;
    height: 0.75rem !important;
    border-radius: 50%;
}

/* Category Thumb */
.btn-category {
    background-position: center;
    background-size: cover;
}

/* Blend Modes */
.blend-invert-lighten {
    filter: invert(1);
    mix-blend-mode: lighten;
}

.blend-multiply {
    mix-blend-mode: multiply;
}

/* Border End Responsive */
.border-end-lg {
    @media (min-width: 992px) {
        border-right: var(--bs-border-width) solid var(--bs-border-color) !important;
    }
}