@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

#root {
    min-height: 100vh;
}

/* Carousel */
.carousel-indicators [data-bs-target] {
    width: 0.75rem !important;
    height: 0.75rem !important;
    border-radius: 50%;
}