@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

#root {
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/* Carousel */
.carousel-indicators [data-bs-target] {
    width: 0.75rem !important;
    height: 0.75rem !important;
    border-radius: 50%;
}

/* Category Thumb */
.btn-category {
    background-position: center;
    background-size: cover;
}