.section-profumo {
    background: linear-gradient(45deg, rgba(255, 0, 111, 0.5), rgb(159, 129, 142));
}

.section-insalata {
    background: linear-gradient(-45deg, rgb(25, 135, 84, 0.5), rgba(25, 135, 84));
}

.section-bottiglie {
    background: linear-gradient(-45deg, rgb(0 165 255), rgba(53, 123, 161, 0.5));
}

.section-shampoo {
    background: linear-gradient(-45deg, rgba(0, 94, 255, 0.5), rgb(127, 156, 206));
}

.felpa-card {
    min-width: 400px;
    max-width: 600px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}