.section-profumo {
    background: linear-gradient(45deg, rgb(159, 129, 142), rgb(255 0 110 / 50%));
}

.felpa-card {
    min-width: 400px;
    max-width: 600px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}